.curtain {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: $dark-grey;
    animation: curtain-down 1s ease-out 0s 1 forwards, curtain-up 1s ease-out 4s 1 forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .curtain-msg{
        font-family: "Avocados";
        text-transform: uppercase;
        color: $light-grey;
        font-size: 2rem;
        width: 30rem;
        text-align: center;
    }
}

@keyframes curtain-down {
    from{
        top: -100%;
        bottom: 100%;
    }

    to {
        top: 0%;
        bottom: 0%;
    }
}

@keyframes curtain-up{
    from{
        top: 0%;
        bottom: 0%;
    }

    to {
        top: -100%;
        bottom: 100%;
    }
}