.btn {
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bolder;
    padding: 0.5rem 2rem;
    cursor: pointer;
    margin: 2rem;
    background-color: $medium-grey;
    box-shadow: -0.3rem 0.3rem 0rem $dark-grey;
    align-self: center;
}

.btn:active {
    box-shadow: none;
    transform: translate(-0.3rem, 0.3rem);
}
