.badge {
    text-transform: uppercase;
    font-size: medium;
    font-weight: bolder;
    padding: 0.5rem 1rem;
    margin: 2rem 0.5rem;
    align-self: center;
    background-color: $medium-grey;
}