.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        text-transform: uppercase;
        font-size: 5rem;
        font-family: "Avocados";
        margin: 4rem 0rem 1rem 0rem;
    }

    .svg {
        min-width: 40rem;
        max-width: 120rem;
        width: 50%;
        margin: 1rem;
    }

    .contact {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 20rem;
        margin: 2rem;
        color: rgb(139, 139, 139);
    }
}



@keyframes slide-to-right{

    85% {
        transform: translateX(5%);
    }

    100% {
        transform:translateX(0);
    }
}