.game {
    position: relative;
    background: url("./../../assets/main-back.svg");
    background-size: 350px 200px;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(5, auto);
}
