.return {
    color: $dark-grey;
    position: absolute;
    left: 0;
    z-index: 10;
    margin: 1rem;
    padding: 0;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $dark-grey;
        border-radius: 2px;
        cursor: pointer;
        color: $light-grey;
    }
}
