.lobby {
    height: 100%;
    display: grid;
    grid-template-columns: auto minmax(10rem, 20rem);

    @media (max-width: $bp-xl) {
        grid-template-columns: auto;
    }
}

.span {
    grid-template-columns: auto;
}
