.content-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Avocados';
  src: url('./assets/Avocados.ttf');
}

$light-grey: #F8F9FA;
$medium-grey: #ADB5BD;
$dark-grey: #212529;

@import './pages/home/home.scss';
@import './components/ChoiceRoom/choiceRoom.scss';
@import './components/Btn/btn.scss';
@import './components/Lobby/lobby.scss';
@import './components/UserInfo/userinfo.scss';
@import './components/Badge/badge.scss';


