.content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 80rem;
}

@font-face {
  font-family: "Avocados";
  src: url("./assets/Avocados.ttf");
}

$light-grey: #f8f9fa;
$medium-grey: #adb5bd;
$medium-dark-grey: #6c757d;
$dark-grey: #212529;

@import "./pages/home/home.scss";
@import "./components/ChoiceRoom/choiceRoom.scss";
@import "./components/Btn/btn.scss";
@import "./components/Lobby/lobby.scss";
@import "./components/UserInfo/userinfo.scss";
@import "./components/Badge/badge.scss";
@import "./components/Curtain/curtain.scss";
@import "./components/Chat/chat.scss";
@import "./components/CanvasFrame/canvas-frame.scss";
